.main {
    display: flex;
}

    .main ul {
        padding-top: 80px;
    }

    .main li {
        background: #a1b9d1;
        /* box-shadow: 0px 2px 8px #F0F2F3; */
        width: 463px;
        height: 97px;
        border-radius: 0 10px 5px 0;
        margin-top: 10px;
        font-weight: 500;
        font-size: 22px;
        line-height: 90px;
        color: #1F1F1F;
        text-align: center;
        cursor: pointer;
    }

    .main .choose {
        box-shadow: 0px 2px 8px #F0F2F3;
        font-weight: bold;
    }